$btn-border-radius: 30px;
$input-btn-padding-x:1rem;
$card-border-radius: 15px;
$card-border-color: white;
$body-bg: black;
$body-color: black;
$card-bg: black;
$link-color: white;
$form-text-color: white;

@import "node_modules/bootstrap/scss/bootstrap.scss";


